@font-face {
  font-family: 'Outfit';
  src: url('/Recipe/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; 
  font-style: normal;
}

@font-face {
  font-family: 'Young Serif';
  src: url('/Recipe/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Media queries */
@media screen and (max-width: 750px){
    *{
        font-size: 0.80rem;
         max-width: 100%;
    }
    .prep{
        max-width: 80%;
    }

  img{
    margin: 20px auto;
  }

   

   
}

.container{    
font-family: 'Outfit';  
max-width: 750px;  
width: 100%;
background-color: hsl(0, 0%, 100%) ;
border-radius: 20px;
margin: auto;

}

.prep{
    background-color: hsl(330, 100%, 98%, 1.00) ;
    width: 660px;
    height:220px;
    border-radius: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-left: 45px;
}

.ingredients{
  margin-left: 25px;
}

.Instructions{
    margin-left: 25px; 
}

.nutrition{
    margin-left: 25px;
 
}

.nutrition p{
    padding-top: 35px;
    margin-left: 12px;
    padding-left: 0;
}
ul{
    padding-top: 17px;    
}

ol{
    padding-top: 30px; 
   
}

li{
    padding: 7px;
    color: hsl(30, 10%, 34%);
    padding-right: 50px;
}
p{
   text-align: justify;
    padding: 20px;
    margin-left: 60px;
    padding-top: 0px;  

}

hr{
    width: 91%;
}

h1{
    font-family: 'Young Serif';
    margin-left: 80px;
    margin-top: 30px;
}

h2{
    font-family: 'Young Serif';
    color: hsl(14, 45%, 36%) ;
    margin: 40px 0 -28px 10px;
}

h3{
    color: hsl(332, 51%, 32%);
    margin: 30px 0 -20px 17px;
}

table{
    font-family:'Outfit';
}
th{
    font-weight: normal;
    text-align: left;
    padding-left: 10px;
    border-bottom: 0.5px solid #ddd;
    padding: 10px;
}

.table-n {
    display: grid; 
    border-collapse: collapse;
    padding-right: 45px;
    padding-left: 1px;
}

.nutrients{
    color: hsl(30, 10%, 34%); 
    padding-left: 40px;
} 

.values{
    color: hsl(332, 51%, 32%); 
    font-weight: bold;
}
   

img{
    display: block;
    margin:25px auto 0 auto;
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    padding-top: 30px;
}

span{
    color: hsl(30, 10%, 34%);
}

span{
    color: hsl(30, 10%, 34%);
}

body{   
    background-color: hsla(30, 54%, 90%, 1.00);
}